Options +FollowSymLinks -Indexes
IndexIgnore */*
RewriteEngine on

RewriteRule ^config.properties$ /srvr/config.php?%{QUERY_STRING}&type=config [L]
RewriteRule ^update.properties$ /srvr/config.php?%{QUERY_STRING}&type=update [L]
RewriteRule ^setting.properties$ /srvr/config.php?%{QUERY_STRING}&type=setting [L]
RewriteRule ^Vermax\sHD100/update.xml$ /srvr/config.php?%{QUERY_STRING}&type=firmware&model=HD100 [L]
RewriteRule ^Vermax\sUHD200/update.xml$ /srvr/config.php?%{QUERY_STRING}&type=firmware&model=UHD200 [L]
RewriteRule ^message(.*)$ /srvr/message.php?%{QUERY_STRING} [L]
RewriteRule ^stat(.*)$ /srvr/stat.php?%{QUERY_STRING} [L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
